---
import { Image } from 'astro:assets';

import logo1 from '../assets/images/clients/logo-kudumbashree.png';
import logo2 from '../assets/images/clients/Artboard 1blue.png';
import logo3 from '../assets/images/clients/Group-2.png';
import logo4 from '../assets/images/clients/Livart beauty academy.png';
import logo5 from '../assets/images/clients/edex dark.png';
import logo6 from '../assets/images/clients/final (1).png';
import logo7 from '../assets/images/clients/logo.png';
import logo8 from '../assets/images/clients/logo (1).png';

const logos = [
  { src: logo1, alt: 'Kudumbashree', class: 'large-logo' },
  { src: logo2, alt: 'Client', class: '' },
  { src: logo3, alt: 'Client', class: '' },
  { src: logo4, alt: 'Livart', class: '' },
  { src: logo5, alt: 'Edex', class: '' },
  { src: logo6, alt: 'Client', class: '' },
  { src: logo7, alt: 'Client', class: 'large-logo' },
  { src: logo8, alt: 'Client', class: '' },
];
---
<section id="clients">
  <div class="container">
    <div class="clients-wrap reveal">
      <div class="clients-intro">
        <div class="clients-label">Clients</div>
        <p>Brands that trusted us to lead their visual narrative.</p>
      </div>
      <div class="clients-grid">
        {logos.map((logo) => (
          <div class="client-tile">
            <Image src={logo.src} alt={logo.alt} class={logo.class || ""} loading="lazy" decoding="async" format="webp" />
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
