---
---
<section id="contact" class="contact">
  <div class="container">
    <div class="clients-label reveal" style="display: block; margin: 0 auto 30px;">Get In Touch</div>
    <h2 class="reveal">Ready To Make Something<br><span>Unforgettable?</span></h2>
    <p class="reveal">We help businesses evolve and grow through thoughtful rebranding, creative media, and powerful digital solutions. From identity to execution, we build everything your brand needs to stand out</p>
    <div class="contact-grid reveal">
      <a href="mailto:polaroiddosa@gmail.com" class="contact-card">
        <svg viewBox="0 0 24 24"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></svg>
        <h4>Email Us</h4><div class="value">polaroiddosa@gmail.com</div>
      </a>
      <a href="https://www.instagram.com/polaroiddosa/" target="_blank" class="contact-card">
        <svg viewBox="0 0 24 24"><path d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8c0 2 1.6 3.6 3.6 3.6h8.8c2 0 3.6-1.6 3.6-3.6V7.6c0-2-1.6-3.6-3.6-3.6H7.6m9.62 1.33a1.05 1.05 0 1 1 0 2.1 1.05 1.05 0 0 1 0-2.1M12 7c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5m0 2c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/></svg>
        <h4>Follow Us</h4><div class="value">Instagram</div>
      </a>
      <a href="https://wa.me/919446976393" target="_blank" class="contact-card">
        <svg viewBox="0 0 24 24"><path d="M12.04 2c-5.46 0-9.91 4.45-9.91 9.91 0 1.75.46 3.45 1.32 4.95L2.05 22l5.25-1.38c1.45.79 3.08 1.21 4.74 1.21 5.46 0 9.91-4.45 9.91-9.91 0-2.65-1.03-5.14-2.9-7.01A9.816 9.816 0 0 0 12.04 2zM6.07 17.51l-.27-.43c-.81-1.29-1.24-2.77-1.24-4.31 0-4.43 3.61-8.04 8.04-8.04 2.15 0 4.16.84 5.67 2.35 1.51 1.51 2.35 3.52 2.35 5.67 0 4.43-3.61 8.04-8.04 8.04-1.61 0-3.17-.47-4.52-1.37l-.32-.21-3.35.88.89-3.27z"/></svg>
        <h4>Message Us</h4><div class="value">9446976393</div>
      </a>
      <a href="https://www.linkedin.com/company/polaroid-dosa/?originalSubdomain=in" target="_blank" class="contact-card">
        <svg viewBox="0 0 24 24"><path d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"/></svg>
        <h4>Connect</h4><div class="value">LinkedIn</div>
      </a>
    </div>
  </div>
</section>
